<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Find and Replace</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
            <h1>Word Frequency</h1>
            <h3>Enter a word and a sentence below, then you'll find out how many times your word occured within the sentence you wrote!</h3>
            </div>
            <form action='/results' method='post'>
              <div class='form-group'>
                <label for='randWord'>Enter a random word:</label>
                <input id='randWord' name='randWord' class='form-control' type='text' required>
                <label for='sentence'>Enter a Sentence:</label>
                <input id='sentence' name='sentence' class='form-control' type='text' required>
                <br>
              </div>
                <button type='submit' class='btn btn-success'>Go!</button>
            </form>
        </div>
    </body>
</html>
