<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Word Frequency</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Word Frequency Results</h1>
            </div>
            <div>
                <h3>Your word appeared in the sentence {{ result }} time(s)!</h3>
            </div>
            <a href='/'><button class='btn btn-primary' type='button'>Home</button></a>
        </div>
    </body>
</html>
